@import "functions";

// ==========================================================================
// Font
// ==========================================================================

$font-primary: "Inter", sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// ==========================================================================
// Measures
// ==========================================================================

$global-max-width: rem(1440);
$global-font-size: rem(18);
$global-line-height: 1.5;
$global-radius: rem(10);
$global-horizontal-padding: rem(43);
$global-module-size: rem(25);

// ==========================================================================
// Others
// ==========================================================================

$z-indexes: (
  "above": 500,
  "modal": 400,
  "overlay": 300,
  "dropdown": 200,
  "default": 1,
  "below": -1,
);
